body{
margin:0;
font-family:sans-serif;
background:#050530;
color:white;
text-align:center;
overflow-x:hidden;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;
}

.navbar{
position:sticky;
top:0;
background:rgba(0,0,0,0.6);
padding:14px;
display:flex;
justify-content:center;
gap:25px;
}

.navbar a{
color:white;
text-decoration:none;
font-weight:bold;
}

.navbar a:hover{
color:#0b5cff;
}

.container{
padding:80px 20px;
max-width:900px;
margin:auto;
}

.hero h1{
font-size:46px;
color:#0b5cff;
text-shadow:0 0 20px #0b5cff;
}

.tagline{
color:#94a3b8;
margin-bottom:20px;
}

.btn{
display:inline-block;
background:#0b5cff;
color:white;
padding:12px 24px;
border-radius:10px;
text-decoration:none;
margin:6px;
box-shadow:0 0 15px rgba(11,92,255,0.6);
transition:0.3s;
}

.btn:hover{
transform:scale(1.05);
box-shadow:0 0 30px rgba(11,92,255,1);
}

.yt{
background:#ff0033;
}

.card{
background:rgba(255,255,255,0.05);
padding:30px;
border-radius:16px;
margin-top:20px;
backdrop-filter:blur(12px);
box-shadow:0 0 25px rgba(0,0,0,0.6);
}

.app-icon{
width:95px;
filter:drop-shadow(0 0 30px #0b5cff);
margin-bottom:10px;
}

footer{
margin-top:80px;
padding:20px;
color:#94a3b8;
font-size:13px;
}
